.header-container{
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    background:  #008445E5 !important;
    width: 100%;
}
.information-container{
    width: 100%;
}
.information-container-text{
    width: 100%;
    display: flex;
    padding: 5px 0px;
}