.hidden-information{
    font-size: 20px !important; 
    color: #fff !important;  
    padding: 10px 10px !important;
}
.information{
    font-size: 17 !important; 
    color: #fff !important; 
    padding: 0px 10px !important;
}